.first-button,
.second-button {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.first-button {
    background-color: hsl(0,0%,0%);
    color:white;
}

.second-button {
    background-color: rgb(255, 255, 0);
}